#headerTop_div {
    box-sizing       : border-box;
    padding          : 0 15px 0 15px;
    font-family      : 'Rubik', sans-serif;
    letter-spacing   : 1px;
    font-size        : 14px;
    font-weight      : normal;
    line-height      : 24px;
    background-color : white;
}

#headerTop_div div {
    display : inline-block;
}

#headerTop_div > div > nav > ul > li > div {
    margin-top : 10px;
}

#headerTop_div > div {
    border-bottom   : 1px solid #ededed;
    justify-content : space-between;
    margin          : 0 auto;
    height          : 52px;
    padding         : 0;
}

#headerTop_div > div > p {
    color       : black;
    line-height : 24px;
    margin      : 0;
}

#headerTop_div ul {
    margin          : 0;
    padding         : 0;
    list-style-type : none;
}


#headerTop_div > div > nav > ul > li {
    display  : inline-block;
    position : relative;
    margin   : 0 0 0 15px;
    height   : 52px;
}

#headerTop_div > div > nav > ul > li:first-child {
    margin-left : 0;
}


#headerTop_div > div > nav > ul > li:nth-child(-n+2)::after {
    content      : "|";
    padding-left : 15px;
    color        : #999999;
}

#headerTop_div > div > nav > ul > li > i {
    font-size   : 12px;
    margin-left : 8px;
}


/*dropDownsStart*/
#dropDown {
    box-shadow          : 0 1px 7px -2px rgba(0, 0, 0, 0.3);
    position            : absolute;
    background-color    : white;
    line-height         : 32px;
    visibility          : hidden;
    top                 : 50px;
    width               : 140px;
    transition-duration : 2s;
    height              : 10px;
    overflow            : hidden;

}

#dropDown > li {
    font-size   : 12px;
    margin-left : 12px;

}

/*dropDownsEnd*/

/*HoversStart*/
#headerTop_div > div > nav > ul > li:nth-child(1):hover > ul {
    visibility : visible;
    height     : 100px;
}

#headerTop_div > div > nav > ul > li:nth-child(2):hover > ul {
    visibility : visible;
    width      : 100px;
}

#headerTop_div > div > nav > ul > li:nth-child(3):hover > ul {
    visibility : visible;
    width      : 100px;
    right      : 0px;
}

/*HoversEnd*/













